.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 5px;
}

.main,
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  overflow: hidden;
  width: 100%;
  max-width: calc(100vw - 10px);
}

.alignLeft {
  align-self: flex-start;
}
@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: start;
  }
  .main {
    width: auto;
  }
  .details {
    margin-left: 2rem;
    align-items: start;
  }
}
