.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.main,
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  overflow: hidden;
  width: 100vw;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: start;
  }
  .main {
    width: auto;
  }
  .details {
    margin-left: 2rem;
    align-items: start;
  }
}
